body {
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
  margin-bottom: 100px;
}

.btn {
  background-color: #e8b8bf;
  margin-top: 10px;
  margin-bottom: 10px;
}
